$red:#6c194f;
$secondary:#3f2463;
$black:#0000;
$white:#fff;
$dark:#431031;
$success:#162053;
$blue:#1f3890;
$warning:#f36b1f;
$warning-1:#f9ad18;
$btn-2: linear-gradient(to right, #6c194f, #631b55, #591e5b, #4d215f, #3f2463);
$btn-linear: linear-gradient(to left, #f36b1f, #f67c1a, #f88d15, #f99d14, #f9ad18);
$linear:linear-gradient(to left, #7d245e, #861670, #861f8ac2, #700d98d1, #6e36b9d9);